<nav class="navbar navbar-dark bg-success justify-content-between">
    <a class="navbar-brand ms-3 cursor-pointer" role="button" routerLink="">
      Manage your expenses <mat-icon class="ms-2">wallet</mat-icon>
    </a>

    <ng-container *ngIf="user() as currentUser; else loggedOut">
      <span class="me-3 d-flex gap-2 text-light">
        Welcome, {{user()?.sub}}
        <button>
         <mat-icon mat-icon-button (click)="logout()">logout</mat-icon>
        </button>
      </span>
    </ng-container>

    <ng-template #loggedOut>
      <span class="text-light me-3 d-flex gap-2 align-items-center">
        Login
        <button mat-icon-button role="button" class="icon-link-hover" routerLink="app-user-login"> 
          <mat-icon>login</mat-icon>
        </button>
      </span>
    </ng-template>
</nav>
