<h2 mat-dialog-title>Edit Transaction</h2>
<mat-dialog-content>
  <form [formGroup]="editForm">

    <mat-form-field appearance="fill">
      <mat-label>Select year</mat-label>
      <mat-select formControlName="year">
          <mat-option *ngFor="let y of years" [value]="y">{{ y }}</mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select month</mat-label>
    <mat-select formControlName="month">
      <mat-option *ngFor="let m of months" [value]="m.value">{{ m.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>


    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount">
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Category</mat-label>
      <mat-select formControlName="categoryId">
        <mat-option *ngFor="let cat of categories" [value]="cat.id">
          {{ cat.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Notes</mat-label>
      <textarea matInput formControlName="notes" maxlength="255" rows="3"></textarea>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="btn btn-success mt-2 ms-2 mb-4" mat-button (click)="onCancel()">Cancel</button>
  <button class="btn btn-success mt-2 ms-2 mb-4" (click)="onSave()" [disabled]="editForm.invalid">Save</button>
</mat-dialog-actions>


