<h4>Make a transaction</h4>
<div>
    <form [formGroup]="filterForm" class="d-flex flex-column flex-sm-row flex-wrap gap-3 align-items-start">
      
        <mat-form-field appearance="fill" class="flex-grow-1" style="min-width: 200px;">
            <mat-label>Select year</mat-label>
            <mat-select formControlName="year">
                <mat-option *ngFor="let y of years" [value]="y">{{ y }}</mat-option>
            </mat-select>
            <mat-error>You must select a year</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="flex-grow-1" style="min-width: 200px;">
            <mat-label>Select month</mat-label>
            <mat-select formControlName="month">
              <mat-option *ngFor="let m of months" [value]="m.value">{{ m.viewValue }}</mat-option>
            </mat-select>
            <mat-error *ngIf="filterForm.get('month')?.invalid && filterForm.get('month')?.touched"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="flex-grow-1" style="min-width: 200px;">
            <mat-label>Category Type</mat-label>
            <mat-select formControlName="categoryType" (selectionChange)="onCategoryTypeChange()">
              <mat-option *ngFor="let type of categoryTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="flex-grow-1" style="min-width: 200px;" *ngIf="filteredSubcategories.length > 0">
          <mat-label>Category</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option *ngFor="let sub of filteredSubcategories" [value]="sub.id">{{sub.label}}</mat-option>
          </mat-select>
        </mat-form-field>        

        <mat-form-field appearance="fill" class="flex-grow-1" style="min-width: 200px;">
            <mat-label>Amount</mat-label>
            <input
             matInput
             type="number"
             step="0.01"
             formControlName="amount"
             placeholder="Enter amount">
            <mat-error *ngIf="filterForm.get('amount')?.hasError('required')"
            >Amount is required</mat-error>
            <mat-error *ngIf="filterForm.get('amount')?.hasError('min')">
            Amount cannot be negative
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Notes (optional)</mat-label>
            <textarea
              matInput
              formControlName="notes"
              rows="3"
              placeholder="Add any additional notes...">
            </textarea>
            <mat-hint>
              {{ filterForm.get('notes')?.value?.length || 0 }}/255
            </mat-hint>
            <mat-error *ngIf="filterForm.get('notes')?.hasError('maxlength')">
              Notes cannot exceed 255 characters.
            </mat-error>
        </mat-form-field>

        <div class="d-flex align-items-center" style="min-width: 200px;">
          <button
            class="btn btn-success mt-2"
            [disabled]="filterForm.invalid"
            (click)="onSubmit()"
            >Save
          </button>
        </div>
          

    </form>
</div>



