<h4>User Login</h4>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-3 w-100 w-md-50 mx-auto">
  <div class="form-group`">
    <label for="username">Username:</label>
    <input type="text" id="username" class="form-control" formControlName="username">
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" id="password" class="form-control" formControlName="password">
  </div>

  <button type="submit" class="btn btn-success" [disabled]="form.invalid">
    Login
  </button>

  <button class="btn btn-success" (click)="router.navigate(['/app-user-registration'])">Not a user? Register here!</button>

</form>

<div *ngIf="errorMessage" class="alert alert-danger mt-2">
  {{ errorMessage }}
</div>
